@charset 'UTF-8';

/* 
    Em HTML é id = em CSS é # (só pode um elemento)
    Em HTML é class = em CSS é .  (pode vários elementos)
*/

h1#principal{
    color: darkblue;
    text-align: center;
}

h1{
    color: blue;
}

body{
    background-color: white;
}

.titulo{
    background-color: aqua;
    text-align: center;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.assunto{
    font-family: Arial, Helvetica, sans-serif;
    color: ;
}