@charset 'UTF-8';

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
    width: 100%;
}

article::after{
    content: "Muito obrigado por ler nosso arquivo";
}

