@charset 'UTF-8';

@font-face {
    font-family: cs1;
    src: url(Fontes/cs1.6.otf) format(opentype);
}

@font-face {
    font-family: cssource;
    src: url(Fontes/cssource.ttf) format(truetype);
}   

@font-face {
    font-family: csgo;
    src: url(Fontes/csgo.ttf) format(truetype);
}

@font-face {
    font-family: cs2;
    src: url(Fontes/cs2.ttf) format(truetype);
}



:root {

    --cor1: #D6D9BF;
    --cor2: #F2A30F;
    --cor3: #D97904;
    --cor4: #BF5B04;
    --cor5: #401E01;

    --fontepadrao: Arial, Helvetica, sans-serif;
    --fontecs1: cs1;
    --fontecssource: cssource;
    --fontecsgo: csgo;
    --fontecs2: cs2
}

*{
    margin: 0px;
}

body{
    background-color: black;
}

header{
    background-color: var(--cor5);
    padding: 50px 10px;
    text-align: center;
    font-family: cs1;
    color: white;
    border-radius: 0px 0px 3px;
}

.titulo{
    font-size: 7vh;
    text-shadow: 3px 3px 5px black;
}

.sub{
    font-size: 3.5vh;
    padding-top: 8px;
    text-shadow: 3px 3px 5px black;
}


section{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.274);
}

.aberta1{
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url(ImagensP/imagem2.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 8px -8px 20px 3px inset black;
}

.tituloh1{
    display: flexbox;
    background-color: hsla(28, 96%, 38%, 0.911);
    padding: 10px 10px 10px 3px;
    border-radius: 0px 5px 0px 0px;
    max-width: 300px;
    max-width: 427px;
    font-family: var(--fontecs1);
    text-align: center;
    color: black;
    text-shadow: 1px 1px 3px #D6D9BF;
}

#texto1{
    display: flexbox;
    padding: 10px 30px 10px 10px;
    min-height: 100px;
    min-height: 200px;
    max-width: 200px;
    max-width: 400px;
    font-family: var(--fontecs1);

    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    background-color: hsla(28, 96%, 38%, 0.911);
    border-radius: 0px 0px 5px;
}

.fechada1{
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url(ImagensP/imagem3.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 8px -8px 20px 3px inset black;
}

.fechada1 > h1{
    display: flexbox;
    background-color: hsla(28, 97%, 13%, 0.915);
    padding: 10px 10px 10px 3px;
    border-radius: 0px 5px 0px 0px;
    max-width: 300px;
    max-width: 427px;
    font-family: var(--fontecs1);
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 3px 3px #000000;
}

.fechada1 > p{
    display: flexbox;
    padding: 10px 30px 10px 10px;
    min-height: 100px;
    min-height: 200px;
    max-width: 200px;
    max-width: 400px;
    font-family: var(--fontecs1);

    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    background-color: hsla(28, 97%, 13%, 0.915);
    border-radius: 0px 0px 5px 0px;
}

.aberta2{
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url(ImagensP/imagem1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.aberta2 > h1{
    display: flexbox;
    font-family: var(--fontecsgo);
    text-align: center;
    background-color: var(--cor3);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.632);

    border-radius: 0px 5px 0px 0px;
    padding: 10px 10px 10px 3px;
    max-width: 200px;
    max-width: 400px;
}

.aberta2 > p{
    display: flexbox;
    font-family: var(--fontecsgo);
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.64);
    background-color: var(--cor3);

    border-radius: 0px 0px 5px 0px;
    padding: 10px 10px 10px 3px;
    min-height: 100px;
    min-height: 200px;
    max-width: 200px;
    max-width: 400px;
}

.fechada2{
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url(ImagensP/imagem4.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 10px inset rgba(0, 0, 0, 0.596);
}

.fechada2 > h1{
    display: flexbox;
    font-family: var(--fontecs2);
    text-align: center;
    background-color: var(--cor1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.632);

    border-radius: 0px 5px 0px 0px;
    padding: 10px 10px 10px 3px;
    max-width: 200px;
    max-width: 400px;
}

.fechada2 > p{
    display: flexbox;
    font-family: var(--fontecs2);
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.64);
    background-color: var(--cor1);

    border-radius: 0px 0px 5px 0px;
    padding: 10px 10px 10px 3px;
    min-height: 100px;
    min-height: 200px;
    max-width: 200px;
    max-width: 400px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;

}

