@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@300&display=swap');

 
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body{
    background-image: linear-gradient(to left, #FAD475, #FFE299);
}

main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #BFA893;
        width: 600px;
        padding: 10px;
        margin: ;
}

h1{
    color: #D97C0B;
    text-align: center;
    /* text-shadow: 1px 1px 2px /*Cor*/ 
    font-family:'Pacifico', cursive;
}

h2{
    color: #A64F03;
    text-align: center;
    text-shadow: 1px 1px 2px;
    font-family: ;
    src: url(adidas.otf)
}

li{
 font-family: 'Times New Roman', Times, serif;
 font-style: italic;
}